/*Reset*/
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body {
  margin:0;
  padding: 0;
}

#image {
display: grid;
height: 100%;
margin: 3em;
}

#vid {
  width: 100%;
  height: 100vh;
}

#heroDiv {
  background-color: black;
  opacity: 0.8;
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 40%;
  margin: 0;
}

#heroTitle {
  color: white;
  font-size: 4ch;
  width: 95%;
  margin: .5em;
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: absolute;

}

#hero {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  margin: 0;
  background-color: black;
  z-index: 0;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vmax; */
}


.samples {
  display: flex;
  flex-grow: 1; /* pictures spaced evenly, take up any remaining space */
  /* flex: auto; */
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 3em;
  margin-left: 2em;
  /* box-shadow: 5px 5px 0px rgb(0, 0, 0); */

}

#image .samples {
  min-width: 40vmin;
  max-width: 40vmax;
  min-height: 30vmin;
  max-height: 50vmax;
  opacity: .95;
  flex: 1 1 20em;
  object-fit: cover;
}


#image .samples:hover {
transform: scale(1.1);
transform: rotate(1); /* brings image forward, can rotate with -5deg */
/* transition: all .25s ease-in-out; */
/* background-color:black;
z-index: 10; */
/* opacity: 1; */
transition: transform .5s;
        /* background-color 1s, */
        /* box-shadow 1s, */
         /* changes speed it flips */
/* box-shadow: 5px 5px 0px white; */
/* border: 1px solid white; */
opacity: 1;
}

#testimonial {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(to top, #09203f 0%, #eaeff3 100%);
}

@media only screen and (max-width: 750px) {
  section { grid-template-columns: 1fr; }
}
